*{
    font-family: 'janna lt';
    box-sizing:border-box ;
    direction: rtl;
}
.logo{
    text-align:center;
    margin: 30px 0;
}
.logo img{
    width:100px;
}
.logo h2{
    font-size: 25px;
    font-weight: 700;
}
.book{
    text-align:center;
}
.book p{
    font-size:20px;
}
.book input{ 
    width:50%;
    margin-bottom: 10px;
    padding:10px;
}
.book input[type="submit"]{
    font-size:16px;
    color:white;
    background:#00a9b0;
    border:none;
}
table{
    width:100%;
    text-align:center;
    border-collapse: collapse;
    font-size:24px;
}
th{

    background:#00a9b0;
    color:white;
    padding:5px 0;
}